#about {
    background: #030303;
}

.about {
    margin-top: 80px;
    margin-bottom: 100px;

    .title {
        h1 {
            color: $white;
            text-align: center;
            font-family: 'Affect_bold';
            font-size: 160px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 160px */
            letter-spacing: 8px;
            text-transform: uppercase;
        }

        h2 {
            color: $white;
            text-align: center;

            margin-top: 60px;

            /* Desktop 1300px/Subtitle */
            font-family: 'Affect_bold';
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 50px */
            text-transform: uppercase;

            .gray {
                color: $gray;
            }

        }

    }

    .tv {
        margin-top: 120px;
        object-fit: contain;

        img {
            width: 100%;
        }

    }


}