footer {
    padding: 140px 0;
    background: $black;

    @media screen and (max-width: $tablet-1024) {
        padding: 80px 0;
    }

    @media screen and (max-width: $mobile-450) {
        padding: 60px 0;
    }

}

.footer {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $tablet-1024) {
            gap: 16px;
        }

    }

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 34px;
        @media screen and (max-width: $tablet-1024) {
            gap: 16px;
        }
    }

    &__title {
        color: $white;
        text-align: center;
        font-family: 'Affect_bold';
        font-size: 198px;
        font-style: normal;
        font-weight: 700;
        line-height: 70%; /* 138.6px */
        letter-spacing: -3.96px;
        text-transform: uppercase;

        @media screen and (max-width: $tablet-1024) {
            color: var(--Fill-White, #F7F7F7);
            font-family: 'Affect_bold';
            font-size: 61.333px;
            font-style: normal;
            font-weight: 700;
            line-height: 70%; /* 42.933px */
            letter-spacing: -1.227px;
            text-transform: uppercase;

            text-align: left;
        }

        @media screen and (max-width: $mobile-450) {
            font-size: 48px;
            line-height: 70%; /* 33.6px */
            letter-spacing: -0.96px;

            text-align: left;
        }

    }

    &__subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;


        color: var(--Fill-White, #F7F7F7);
        font-family: 'Affect_light';
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 125%; /* 50px */
        letter-spacing: 9.6px;
        text-transform: uppercase;

        @media screen and (max-width: $tablet-1024) {
            color: var(--Fill-White, #F7F7F7);
            font-family: 'Affect_light';
            font-size: 17.522px;
            font-style: normal;
            font-weight: 300;
            line-height: 125%; /* 21.902px */
            letter-spacing: 4.205px;
            text-transform: uppercase;

            align-items: self-start;
        }

        @media screen and (max-width: $mobile-450) {
            font-size: 16px;
            line-height: 125%; /* 20px */
            letter-spacing: 3.84px;

            text-align: left;
        }

    }

    &__navigation {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        width: 80%;

        align-self: center;

        @media screen and (max-width: $tablet-1024) {
            margin-top: 10px;
            width: 100%;
        }

        @media screen and (max-width: $mobile-450) {
            margin-top: 0;
            flex-wrap: wrap;
            row-gap: 30px;
        }

        &-block {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: $mobile-450) {
                align-items: flex-start;
                width: 50%;
            }

        }

        &-title {
            color: $white;
            font-family: 'Affect_bold';
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 32px */
            text-transform: uppercase;

            @media screen and (max-width: $mobile-450) {
                font-size: 24px;
            }

        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            @media screen and (max-width: $mobile-450) {
                align-items: flex-start;
            }

            &-item {
                text-align: center;
                color: $white;
                font-family: "PP Neue Montreal Mono";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%; /* 17.5px */

                max-width: 170px;

                @media screen and (max-width: $mobile-450) {
                    text-align: left;
                    font-size: 12px;
                }

            }

        }


    }

    &__copyright {
        display: flex;
        justify-content: space-between;

        border-top: 1px solid #A0A0A0;
        padding-top: 20px;

        @media screen and (max-width: $tablet-1024) {
            display: none;
        }

        &-text {
            color: var(--Fill-Gray-300, #A0A0A0);
            text-align: center;
            font-family: "PP Neue Montreal Mono";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; /* 17.5px */
        }

        &-links {
            display: flex;
            gap: 40px;

            &-privacy {
                color: var(--Fill-Gray-300, #A0A0A0);
                text-align: center;
                font-family: "PP Neue Montreal Mono";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%; /* 17.5px */
            }

            &-up {
                display: flex;
                align-items: center;
                img {
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                }
                text-decoration: none;
                color: var(--Fill-White, #F7F7F7);
                font-family: "PP Neue Montreal Mono";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%; /* 17.5px */
            }

        }

        &-mobile {
            display: none;

            gap: 16px;
            flex-direction: column;

            @media screen and (max-width: $tablet-1024) {
                display: flex;
            }

            &-text {
                max-width: 250px;
                color: var(--Fill-Gray-500, #4C4C4C);
                font-family: "PP Neue Montreal Mono";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%; /* 17.5px */

                @media screen and (max-width: $mobile-450) {
                    font-size: 12px;
                }

            }

        }

    }

}