@import "bootstrap/scss/bootstrap.scss";

@import "./variables";
@import "./mixins";

@import "./animate";
@import "./fonts";
@import "./blocks/header";
@import "./blocks/our_works";
@import "./blocks/about";
@import "./blocks/services";
@import "./blocks/connect";
@import "./blocks/footer";
@import "./main_media";



.reverse {
    transform: rotateY(180deg);
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.yellow {
    color: #FFDE9F;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}
body::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background: rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}
body::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.5);
}