$inactive-text: #A0A0A0;
$black: #030303;
$white: #F7F7F7;
$gray: #4C4C4C;

$services-description: #7F7F7F;

$tablet-1024: 1024px;
$tablet-768: 768px;
$mobile-450: 450px;

// Desktop
$desktop-h1-font-size: 160px;
$desktop-h1-letter-spacing: 8px;

$desktop-h2-font-size: 50px;


// Tablet - 1024px
$tablet-h1-font-size: 114px;
$tablet-h1-letter-spacing: 5.7px;

$tablet-h2-font-size: 36px;

// Mobile
$mobile-h1-font-size: 48px;
$mobile-h1-letter-spacing: 2.4px;

$mobile-h2-font-size: 16px;
